<%- include("../partials/header.ejs") %>
<main>
    <% console.log(products); %>
    <% if(products!=[]){ %>
        <% products.forEach((prod)=>{ %>
            
        <h1><%= prod.productId.title%>(<%=prod.quantity%>)</h1>
        <form action="/deletFromCart" method="post">
            <input type="hidden" name="id" value="<%= prod.productId._id%>">
            <input type="hidden" name="price" value="<%= prod.productId.price%>">
            <button type="submit" class="btn">delete</button>
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
        </form>
        <%  }); %>
        <form action="/post-order" method="post">
            <% if(products[0] != undefined ){ %>
            <button type="submit" class="btn" style="margin-top: 20px;">CheckOut</button>
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                <% } %>
        </form>
     <% } if(products[0]==undefined){ %>
            <h1>No products in cart</h1>
     <% } %>
</main>

<%- include("../partials/end.ejs") %>