<%- include("../partials/header.ejs") %>
<main>

    <% if(orders[0]!=undefined){ %>
    <h1>orders</h1>  
    <% }else{ %>
        <h1>no orders yet</h1>
        <% } %>  
    <ul>
        <% orders.forEach(order=>{ %>
            
    <% let totalPrice=0 %>
            <%order.products.forEach(prod=>{ %>
                <li>title: <%= prod.product.title %></li>
                <% totalPrice+= parseInt(prod.product.price) %>
                <li>price: <%= prod.product.price %></li>
                <li>quantity:<%=prod.quantity %></li>
           <% }) %>
                    <h2>ToTALprice= <%= totalPrice %></h2>
                    <hr>
            <% }) %>
    </ul>

</main>

<%- include("../partials/end.ejs") %>